<h4>ngFor</h4>
<div *ngIf="courseList.length >0; else noCourses">
  List of Courses( Using ngIf)
</div>
<ng-template #noCourses>
  No Course
</ng-template>

<div [hidden]="!hasStudents">Using Hidden</div>


<h4>ngSwitch</h4>
<button (click)= "changeColor('red')">Red</button>
<button (click)= "changeColor('blue')">Blue</button>
<button (click)= "changeColor('black')">Black</button>
<button (click)= "changeColor('green')">Green</button>
<button (click)= "changeColor('yellow')">Yellow</button>
<button (click)= "changeColor('brown')">Brown</button>
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">
    <h3>Red Switch Case</h3>
  </div>
  <div *ngSwitchCase="'blue'">
    <h3>Blue Switch Case</h3>
  </div>
  <div *ngSwitchCase="'black'">
    <h3>black Switch Case</h3>
  </div>
  <div *ngSwitchCase="'green'">
    <h3>Green Switch Case</h3>
  </div>
  <div *ngSwitchCase="'yellow'">
    <h3>Yellow Switch Case</h3>
  </div>
  <div *ngSwitchCase="'brown'">
    <h3>Brown Switch Case</h3>
  </div>
</div>

<h4>ngFor type 1</h4>
<div *ngFor="let student of studentList">
  <li>{{ student}}</li>
</div>
<h4>ngFor  type 2</h4>
<div *ngFor="let customer of   customerList; index as i">
  <p>{{i}}</p>
  <li>{{ customer.name}}</li>
  <li>{{ customer.age}}</li>
</div>
